.villains-list {
  position: relative;
  top: 120px;
  padding-top: 15px;
  text-align: center;
  font-family: Nosifer, sans-serif;
  margin-bottom: 45px;
  color: rgb(224, 13, 13);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .villains-list {
    top: 75px;
    margin-bottom: 10px;
  }
}
