.hero-list-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.hero-list-card {
  flex-basis: 50%;
  flex-grow: 1;
  text-align: center;
}

.hero-list-image {
  width: 25%;
  height: 10em;
}
