.navigation {
  background-color: red;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.nav-text {
  color: white !important;
  font-size: 15px;
}

.marvel-brand {
  height: 10vh;
  width: 200px;
}

.navbar-toggler {
  background-color: white !important;
}
