.slide-image {
  width: 100%;
  height: 70vh;
}

.carousel {
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 5px;
}

.slide-text {
  background: rgba(0, 0, 0, 0.499);
  padding-right: 20px;
  padding-left: 20px;
}

.slider-container {
  padding-bottom: 10px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .carousel {
    padding-top: 90px;
  }
}
